{% extends 'base.html' %}

{% block app_content %}

<h1>Credits</h1>
<br>
<p>This website was designed and developed by John Slice.</p>
<p>The following are thanked for their help with this process:</p>
<br>
<p><a href="https://pixabay.com/users/ZERIG-934572/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2386721">Jeroným Pelikovský</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2386721">Pixabay</a> for creating the header art.</p>
<p>The developers of the <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> web framework.</p>
<p><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">The Flask Mega-Tutorial</a> by <a href="https://blog.miguelgrinberg.com/index">Miguel Grinberg</a>.</p>
<p>The <a href="https://atom.io/">Atom Text Editor</a>.</p>
<br>
<p>The following python libraries were incredibly useful. Special thanks goes to their developers for making them openly available.</p>

<p><a href="https://alembic.sqlalchemy.org/en/latest/">alembic</a> - used for database migration.</p>
<p><a href="https://pythonhosted.org/blinker/">blinker</a> - used for object-to-object signaling.</p>
<p><a href="https://pypi.org/project/certifi/">certifi</a> - used for validating SSL certificates.</p>
<p><a href="https://click.palletsprojects.com/en/7.x/">click</a></p>
<p><a href="https://www.dnspython.org/">dnspython</a></p>
<p><a href="https://pypi.org/project/dominate/">dominate</a> - used to creat a DOM.</p>
<p><a href="https://pypi.org/project/email-validator/">email-validator</a> - used to validate emails in web forms.</p>
<p><a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> - the web framework used for this project.</p>
<p><a href="https://pythonhosted.org/Flask-Bootstrap/">Flask-Bootstrap</a> - a Flask extension for <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
<p><a href="https://flask-login.readthedocs.io/en/latest/">Flask-Login</a> - a Flask extension for logging users in and out.</p>
<p><a href="https://pythonhosted.org/Flask-Mail/">Flask-Mail</a> - a Flask extension for sending emails using SMTP.</p>
<p><a href="https://flask-migrate.readthedocs.io/en/latest/">Flask-Migrate</a> - a Flask extension used for database migrations.</p>
<p><a href="https://pypi.org/project/Flask-Moment/">Flask-Moment</a> - a Flask extension for formating dates and times with moment.js.</p>
<p><a href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/">Flask-SQLAlchemy</a> - a Flask extension that supports SQLAlchemy.</p>
<p><a href="https://flask-wtf.readthedocs.io/en/stable/">Flask-WTF</a> - a Flask extension that supports WTForms.</p>
<p><a href="https://pypi.org/project/idna/">idna</a></p>
<p><a href="https://pypi.org/project/itsdangerous/">itsdangerous</a> - used to sign secure tokens.</p>
<p><a href="https://pypi.org/project/Jinja2/">Jinja2</a> - a templating engine.</p>
<p><a href="https://www.makotemplates.org/">Mako</a> - a template library.</p>
<p><a href="https://pypi.org/project/MarkupSafe/">MarkupSafe</a> - guards against injection attacks.</p>
<p><a href="https://pyjwt.readthedocs.io/en/latest/">PyJWT</a> - used to encode and decode JSON web tokens.</p>
<p><a href="https://dateutil.readthedocs.io/en/stable/">python-dateutil</a> - provides extensions to the datetime module.</p>
<p><a href="https://pypi.org/project/python-dotenv/">python-dotenv</a> - used to manage app settings.</p>
<p><a href="https://pypi.org/project/python-editor/">python-editor</a></p>
<p><a href="http://pytz.sourceforge.net/">pytz</a> - allows timezone calculations.</p>
<p><a href="https://pypi.org/project/six/">six</a> - allows compatibility between python 2 and 3.</p>
<p><a href="https://www.sqlalchemy.org/">SQLAlchemy</a> - a python SQL toolkit and ORM.</p>
<p><a href="https://urllib3.readthedocs.io/en/latest/">urllib3</a> - an HTTP client for python.</p>
<p><a href="https://pypi.org/project/visitor/">visitor</a></p>
<p><a href="https://werkzeug.palletsprojects.com/en/1.0.x/">Werkzeug</a> - a WSGI utility library.</p>
<p><a href="https://wtforms.readthedocs.io/en/2.3.x/">WTForms</a> - a forms validation and rendering library.</p>
<br>
<br>

{% endblock %}
